# Terraform Template (generated through Jinja template)
#

# Configure Infoblox Provider
provider "infoblox" {
  username  = "${var.iblox_user}"
  password  = "${var.iblox_password}"
  host      = "{{ iblox_server }}"
  sslverify = "false"
}

# Configure VMware vSphere Provider
provider "vsphere" {
  vsphere_server       = "${var.common["vsphere_server"]}"
  user                 = "${var.vsphere_user}"
  password             = "${var.vsphere_password}"
  allow_unverified_ssl = "true"
}

# Create a folder
resource "vsphere_folder" "${var.common["folder"]}" {
  datacenter = "${var.common["datacenter"]}"
  path       = "${var.common["folder"]}"
}

{% for count in range(instances|int) -%}
{% set instance = count + 1 -%}
# Create A record on Infoblox
resource "infoblox_record" "${lookup(var.{{ instance }}["hostname"])}_A" {
	value = "${lookup(var.{{ instance }}["ipv4_address"])}"
	name = "${element(split(".", lookup(var.{{ instance }}["hostname"])), 0)}"
	domain = "${lookup(var.{{ instance }}["domain"])}"
	type = "A"
	ttl = 3600
}

# Create AAAA record on Infoblox
resource "infoblox_record" "${lookup(var.{{ instance }}["hostname"])}_AAAA" {
	value = "${lookup(var.{{ instance }}["ipv6_address"])}"
	name = "${element(split(".", lookup(var.{{ instance }}["hostname"])), 0)}"
	domain = "${lookup(var.{{ instance }}["domain"])}"
	type = "AAAA"
	ttl = 3600
}

# Create virtual machine within the folder
resource "vsphere_virtual_machine" "${lookup(var.{{ instance }}["hostname"])}" {
  name        = "${lookup(var.{{ instance }}["hostname"]}"
  datacenter  = "${lookup(var.common["datacenter"]}"
  folder      = "${lookup(var.common["folder"]}"
  vcpu        = "${lookup(var.{{ instance }}["vcpu"]}"
  memory      = "${lookup(var.{{ instance }}["memory"]}"
  dns_servers = "${lookup(var.dns_servers})"
  domain      = "${var.{{ instance }}["domain"]}"

  network_interface {
    label              = "${lookup(var.{{ instance }}["label"]})"
    ipv4_address       = "${var.{{ instance }}["ipv4_address"]}"
    ipv4_gateway       = "${var.{{ instance }}["ipv4_gateway"]}"
    ipv4_prefix_length = "${var.{{ instance }}["ipv4_prefix_length"]}"
    ipv6_address       = "${var.{{ instance }}["ipv6_address"]}"
    ipv6_gateway       = "${var.{{ instance }}["ipv6_gateway"]}"
    ipv6_prefix_length = "${var.{{ instance }}["ipv6_prefix_length"]}"
  }

  #network_interface {
  #  label   .... (2nd network interface)
  #}

  disk {
    datastore = "${var.common["datastore"]}"
    template  = "${var.common["template"]}"
  }

  #provisioner "remote-exec" {
  #  inline = [
  #    "/bin/sed -i s,PUPPETSERVER,${var.common["puppet_server"]}, ${var.common["puppet_conf"]}",
  #    "/bin/sed -i s,PUPPETCA,${var.puppet_ca}, ${var.common["puppet_conf"]}",
  #    "/bin/sed -i s,PUPPETENVIRONMENT,${var.puppet_environment}, ${var.common["puppet_conf"]}",
  #  ]
  #}

}

{% endfor %}
